@charset "UTF-8";


/* menu */
ul.sidemenu li{
	background-repeat: no-repeat;
	padding: 0 0 0 17px;
}
/* クリック領域を親要素(li)と同じ幅に広げる */
ul.sidemenu li a{
	display: block;
}
body.jquery ul.sidemenu li#jquery,
body.picture ul.sidemenu li#picture,
body.query ul.sidemenu li#query,
body.blog ul.sidemenu li#blog,
body.twitter ul.sidemenu li#twitter,
body.mail ul.sidemenu li#mail{
	background-color: #E0EEEE;
}

ul.sidemenu li#auth-mixi{
	background-image: url("/img/icon/mixi_icon001.gif");
}

/* twitter */
div#sidebar div#twitter-ticker div#top-bar{
	width: 300px;
}
div#sidebar div#twitter-ticker div#top-bar img{
	margin: 3px;
	float : left;
}
	
div#sidebar div#tweet-container{
	border: solid 1px #808080;
	height: 300px;
	padding: 0.5em;
	overflow: auto;
/*	display: none; */
}

div#sidebar div.tweet{
	border-bottom: solid 1px #808080;
}

div#sidebar div#tweet-container div.time{
	text-align: right;
	font-size: 90%;
	font-weight: normal;
	letter-spacing: 0;
}
