@charset "UTF-8";

table{
	font-size: 90%;
	border-right: 1px solid #989898;
	border-left: 1px solid #989898;
	border-bottom: 1px solid #989898;
	background-color: #ffffff;
}

table td{
	background-color:transparent;
}

table table{
	background-color: #ffffff;
	border: none;
	width: 100%;
}

table td{
	background-color:transparent;
}

table font,
table a{
	border:none;
	font-size: 100%;
}

table font font{
	font-size: 100%;
}

table a{
  border: none;
}

table input{
	border: 1px solid #dcdcdc;
	background-color : transparent;
}

h1{
	font-size: 150%;
	text-align: left ;
	color: #cccccc;
	clear: both;
	margin: 0 auto;
	font-weight: bold;
}

h1 a{
	color: #cccccc;
	border: none;
	text-decoration: none;
}

h2,
h2 a{
	text-decoration: none;
	border: none;
	color: #696969;
}

h2 {
	padding: 7px 10px;
	text-align: right;
	font-size: 100%;
	font-weight: normal;
}

a.edit{
	color: #CCCCCC;
	font-size: 10px;
	font-weight: normal;
}

div.body {
	_width: 100%;
	text-align: left;
	zoom:1;
}

div.body:after {
	display:block;
	clear:both;
}

div.section{
	margin: 0;
	padding: 20px 25px ;
	text-align: justify;
	border-top: 1px dashed #bbbbbb;
}

div.section p {
	margin: 10px 0;
	padding: 0;
}

h3 {
	margin:10px 0 10px 0;
	padding:0px 0px 0px 5px;
	border-left:9px solid #99cccc;
	text-align: left;
}

h3 img{
	vertical-align: middle;
}

/*--- 文字装飾 ------------------------------------------------*/  

a{
	color: #c0c0c0;
	text-decoration: none;
}

a:hover,
a:hover font,
a:hover span{
	color: #99cccc;
}

h4 {
	font-size: 100%;
	font-weight: normal;
	margin: 20px 0 0 0;
	padding: 0 0 0 0.5em;
	border-left: 5px solid #d3d3d3;
}

h5{
	font-size: 100%;
	font-weight: normal;
	margin: 15px 0 0 0;
	padding: 0 0 0 0.5em;
	border-left: 4px double #d3d3d3;
}

blockquote{
	margin: 15px 0;
	padding: 12px 15px;
	border: 1px solid #989898;
	line-height: 1.5;
}

pre	{
	margin: 15px 0;
	padding: 1em;
	line-height: 1.2;
	font-family:sans-serif;
/*	border: 1px solid #B9B8B4;*/
}

strong{
	font-weight: bold;
}

span.highlight {
	background-color: #ffff00;
	padding: 1px;
}

/*--- テーブル ------------------------------------------------*/                                              

table{
	margin: 15px 0;
	font-size: 100%;
	_font-size: 90%;
	border: none;
	border-collapse: collapse;
	text-align: left;
	border: solid 1px #989898;
}

td{
	padding: 8px 10px;
	margin: 0;
	border: 1px solid #989898;
}

th{
	text-align: left;
	padding: 8px 10px;
	margin: 0;
	border: solid 1px #989898;
	font-weight: normal;
	background: #F0FFFF;
}

a img{
	border: none;
}

hr{
	border: 1px solid #B9B8B4;
}

textarea {
	display:block;
	margin-bottom:0pt;
	width:95%;
	height: 20%;
}

input:focus, textarea:focus {
	border: solid 1px #989898;
}


/* clear fix */
.cfix:before,
.cfix:after {
    content:"";
    display:table;
}
 
.cfix:after {
    clear:both;
    border: solid 1px #989898;
}
.cfix {
    zoom:1;
}